.mainallposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e1e8ed;
    min-height: 100%;


    >h1 {
      position: sticky;
      top: 0;
      height: 4rem;
      text-align: center;
      line-height: 5rem;
      padding: 1rem;
      font-size: 24px;
      color: #1da1f2; 
      margin-bottom: 20px;
      background-color: $color3;
      width: 100%;
      z-index: 1000;
      
    }
    
  
    .allposts {
      width: 90%; 
      max-width: 600px; 
      border-radius: 15px;
      
      
  
      
  
      .posts {
        background-color: #253341; 
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
        word-wrap: break-word; 
        display: flex;
        flex-direction: column;
        position: relative;
  
        &:hover {
          background-color: $color4; 
          color: #ffffff;
        }
        .titleall{
          font-size: 2rem;
          background-color:$color3;
          text-align: center;
          padding: 1rem;
          margin-bottom: 1rem;
          color: white;
          border-radius: 10px;

          
        }
        .contentall{
          font-size: 1.5rem;
          padding: 1rem;
          margin-bottom: 5rem;

          
        }
        .authorall{
          position: absolute;
          font-size: 1.2rem;
          left: 1rem;
          bottom: 0px;
          color: #8899a6;
        }
        .dateall{
          position: absolute;
          font-size: 1.2rem;
          right: 1rem;
          bottom: 0px;
          color: #8899a6;
        }
  
        
      }
    }
      
    
  
   
    @media (max-width: 768px) {
      .allposts {
        width: 95%; // Take more width on smaller screens
        padding: 15px;
      }
  
      button {
        left: 20px;
        bottom: 20px;
        font-size: 14px; // Make the button smaller on mobile
      }
    }
  
    @media (max-width: 480px) {
      .allposts {
        width: 100%; // Take full width on very small screens
        padding: 10px;
      }
  
      .posts {
        padding: 10px;
      }
  
      h1 {
        font-size: 20px; // Make post title smaller on small screens
      }
  
      p {
        font-size: 12px; // Adjust font size for small screens
      }
  
      button {
        width: 100%; // Make the button full-width on small screens
        font-size: 16px;
        padding: 12px 20px;
      }
    }
  }
  

  