.allposts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $color3;

    >div{
        font-size: 1rem;
        color: $color5;
        margin-bottom: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 10rem;
        align-content: center;
        border: 2px solid $color5;
        text-align: center;
        text-justify: center;
    }
    
}

.mainallposts{

    >button{
        position: fixed;

        bottom: 15rem;
        left: 13rem;
        width: 10rem;
        height: 4rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        border: 2px solid $color1;
        border-radius: 60px;
        color: $color5;
        background-color: $color6;
    }
}