.allposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    background-color: $color3;
    border-radius: 10px;
    border: 1px solid $color5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    flex-wrap: wrap;
    

    > h1 {
        font-size: 2rem;
        color: $color5;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 600px;
        min-height: 10rem;
        border: 1px solid $color5;
        padding: 1.2rem;
        border-radius: 10px;
        background-color: $color4;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1.5rem;
        cursor: pointer;
        overflow:auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        

        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        > h1 {
            font-size: 1.5rem;
            color: $color1;
            margin-bottom: 0.5rem;
        }

        > p {
            font-size: 1rem;
            color: $color1;
            margin-bottom: 0.5rem;
        }
    }
}

.mainallposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    background-color: $color3;
    min-height: 100vh;

    > button {
        width: 12rem;
        height: 4rem;
        font-size: 1.2rem;
        margin-top: 2rem;
        border: 2px solid $color1;
        border-radius: 50px;
        color: $color5;
        background-color: $color6;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
            background-color: $color7;
            color: $color1;
            border-color: $color7;
            cursor: pointer;
        }

        &:focus {
            outline: none;
            opacity: 0.8;
        }
    }
}
