.createpost {
  width: 100%;
  height: 100vh;
  color: $color10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  > div {
    width: 80%;
    height: 60%;
    border-radius: 50px;
    background-image: radial-gradient(circle, #dfe6e9 0%, #2d3436 72%);
    background-size: 100% 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 30px;
    transition: background-size 0.5s ease, background-position 0.5s ease;
    &:hover {
      background-image: radial-gradient(circle, #dfe6e9 0%, #2d3436 80%);
      background-size: 110% 110%;
      background-position: center center;
    }
    > div {
      font-size: 3rem;
      border-bottom: 1px solid $color10;
      color: $color9;
      transition: 0.3s all;
    }
    > input {
      width: 80%;
      height: 10%;
      padding: 0.5rem;
      background-color: $color10;
      border: 0;
      outline: none;
      border-radius: 10px;
      color: $color9;
      caret-color: $color9;
      transition: 0.3s all;
      &:focus {
        width: 81%;
      }
    }
    > textarea {
      width: 80%;
      height: 40%;
      resize: none;
      padding: 0.5rem;
      background-color: $color10;
      border: 0;
      outline: none;
      border-radius: 10px;
      color: $color9;
      caret-color: $color9;
      transition: 0.3s all;
      &:focus {
        width: 81%;
      }
    }
    > button {
      width: 40%;
      height: 15%;
      padding: 0.2rem;
      font-size: 1.8rem;
      border-radius: 10px;
      transition: 0.3s all;
      color: $color10;
      &:hover {
        background-color: $color10;
        color: $color9;
        font-size: 1.9rem;
      }
    }
  }
}

.createpost > div:hover .create-post-tittle {
  color: $color10;
}
