 .expandpost{
    font-size: 1rem;
        color: $color5;
        margin: 1rem 0;
        flex-wrap: wrap;
        
        width: 50%;
        height: 50%;
        min-height: 10rem; 
        align-content: center;
        border: 1px solid $color5;
        text-align: center; 
        white-space: normal;
        overflow-wrap: break-word; 
        padding: 1rem;
        border-radius: 10px;
        background-color: $color4;
        overflow: auto;
        justify-content: center;
        align-items: center;
        margin-left: 25rem;
        margin-top: 10rem;


    >div{
        font-size: 2rem;
        color: $color5;
        margin-bottom: 1rem;
    }
    >h1{
        font-size: 2rem;
        color: $color5;
        margin-bottom: 1rem;
    }
    >p{
        font-size: 1rem;
        color: $color5;
        margin-bottom: 1rem;
    }
 }