.signup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  > div {
    padding: 1.5rem;
    width: 40%;
    height: 50vh;
    background-color: #2d3436;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    > div:first-of-type {
      color: #dfe6e9;
      font-size: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    > input {
      width: 60%;
      margin: 0.5rem;
      min-height: 15%;
      outline: none;
      border: none;
      background-color: #2d3436;
      border-bottom: 2px solid #dfe6e9;
      transition: 0.3s all;
      font-size: 1rem;
      color: #dfe6e9;

      &:focus {
        width: 70%;
      }
    }
    > div {
      display: flex;
      width: 70%;
      > button {
        background-color: #0984e3;
        box-sizing: border-box;
        width: 40%;
        height: 45%;
        padding: 0.5rem;
        border: 0;
        transition: 0.3s all;
        border-radius: 10px;
        position: relative;
        margin: 1.5rem;
        color: #dfe6e9;
        font-size: 1.5rem;

        &::before {
          padding: 1px;
          background-color: red;
          position: absolute;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .signup > div:first-of-type {
    width: 80%;
    height: 60%;
  }
  div:nth-of-type(2) {
    flex-direction: column;
    width: 100%;
  }
  .signup-btn {
    width: 90% !important;
    height: 35% !important;
    margin: 1rem !important;
  }
}

@media (max-width: 1000px) {
  .signup > div:first-of-type {
    width: 70%;
    height: 60%;
  }
  div:nth-of-type(2) {
    flex-direction: column;
    width: 100%;
  }
  .signup-btn {
    width: 90% !important;
    height: 40% !important;
    margin: 1rem !important;
  }
}
