.signup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  > div {
    padding: 1.5rem;
    width: 40%;
    height: 50vh;
    background-color: $color10;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    > div:first-of-type {
      color: $color9;
      font-size: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    > input {
      width: 60%;
      margin: 0.5rem;
      min-height: 15%;
      outline: none;
      border: none;
      background-color: $color10;
      border-bottom: 2px solid $color9;
      transition: 0.3s all;
      font-size: 1rem;
      color: $color9;

      &:focus {
        width: 70%;
      }
    }
    > div {
      display: flex;
      width: 70%;
      > span {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
      }
      > button {
        background-color: $color11;
        box-sizing: border-box;
        width: 40%;
        height: 60%;
        padding: 0.5rem;
        border: 0;
        transition: 0.3s all;
        border-radius: 10px;
        position: relative;
        margin: 1.5rem;
        color: $color9;
        font-size: 1.5rem;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .signup > div:first-of-type {
    width: 80%;
    height: 70% !important;
  }
  .signup div:nth-of-type(2) {
    flex-direction: column;
    width: 100%;
  }
  .signup > div > span {
    margin: 0 !important;
  }
  .signup-btn {
    width: 90% !important;
    height: 35% !important;
    margin: 1rem !important;
  }
}

@media (max-width: 1000px) {
  .signup > div:first-of-type {
    width: 70%;
    height: 60%;
  }
  .signup div:nth-of-type(2) {
    flex-direction: column;
    width: 60%;
  }
  .signup .or-span {
    margin: 0 !important;
  }
  .signup-btn {
    width: 90% !important;
    height: 40% !important;
    margin: 1rem !important;
  }
}
